/*.textarea-limit-width{
    width:100%;
    resize:vertical;
}

.buffer-s{
    margin-top:25px;
    margin-bottom:25px;
}

.buffer-m{
    margin-top:50px;
    margin-bottom:50px;
}

.buffer-l{
    margin-top:75px;
    margin-bottom:75px;
}*/
